{% extends 'base.html.twig' %}
{% block body %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <table>
        <tr>
            <th>Book</th>
            <th>Compatibility</th>
            <th>Book Date</th>
            <th>Female AVG age</th>
            <th>Male AVG age</th>
        </tr>
        {% for statistics in arrStatistics %}
            <tr>
                <td>{{ statistics.name }}</td>
                <td>{{ statistics.compatibility ~'%' }}</td>
                <td>{{ statistics.date|date('Y-m-d') }}</td>
                <td>{{ statistics.femaleAge }}</td>
                <td>{{ statistics.maleAge }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
